body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Open-Sans, Arial, Helvetica, sans-serif;
}

body {
  font-size: 20px;
}

@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
.barra-topo {
  background-color: #ff6a28;
  padding: 10px;
  text-align: center;
}
.barra-topo input[type=submit] {
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  border: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ff6a28;
  margin-left: -3px;
  box-shadow: 2px 2px 2px #000000;
  cursor: pointer;
}
@media (max-width: 430px) {
  .barra-topo input[type=submit] {
    padding: 5px;
  }
}
.barra-topo input[type=submit]:hover {
  color: #ff6a28;
  text-shadow: 1px 1px 1px #000000;
}
.barra-topo input[type=text] {
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  width: 370px;
  box-shadow: 2px 2px 5px #000000;
  outline: none;
}
@media (max-width: 430px) {
  .barra-topo input[type=text] {
    width: 150px;
    padding: 5px;
  }
}
.barra-topo img {
  width: 250px;
  border-radius: 2px;
}

#cabecalho {
  height: 430px;
  background-image: url("../image/hero_bolo.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 430px) {
  #cabecalho {
    height: 200px;
  }
}

.content {
  max-width: 990px;
  margin: auto;
  padding: 0 40px;
  margin-top: 100px;
}
@media (max-width: 430px) {
  .content {
    margin-top: 50px;
  }
}
.content h1,
.content h2 {
  color: #ff6a28;
}
.content h1 {
  font-size: 48px;
}
@media (max-width: 430px) {
  .content h1 {
    font-size: 38px;
  }
}
.content h2 {
  font-size: 28px;
  margin-bottom: 40px;
}
@media (max-width: 430px) {
  .content h2 {
    font-size: 25px;
  }
}
.content-cartao {
  padding: 70px 100px;
  margin-top: 50px;
  border-radius: 20px;
}
@media (max-width: 430px) {
  .content-cartao {
    padding: 35px 50px;
    margin-top: 20px;
    font-weight: 600;
  }
}
.content-cartao:hover {
  box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}
.content-lista-ingredientes {
  margin-bottom: 50px;
}
@media (max-width: 430px) {
  .content-lista-ingredientes {
    transform: translateX(-50px);
  }
}
.content .ingredientes {
  cursor: url("../assets/icons8-carrinho-de-compras-30.png"), default;
}
.content .preparo {
  cursor: url("../assets/icons8-soup-plate-30.png"), default;
}
@media (max-width: 430px) {
  .content .preparo ol {
    transform: translateX(-50px);
  }
}
.content .instrucoes {
  cursor: url("../assets/icons8-talheres-30.png"), default;
}
@media (max-width: 430px) {
  .content .instrucoes p {
    line-height: 30px;
  }
}
.content a {
  text-decoration: none;
  background-color: #ff6a28;
  padding: 16px;
  border-radius: 20px;
  color: white;
}
@media (max-width: 430px) {
  .content a {
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
  }
}
.content a:hover {
  background-color: rgba(255, 106, 40, 0.6666666667);
}
.content li {
  margin-bottom: 14px;
}
.content p,
.content li {
  line-height: 28px;
}

footer {
  background-color: #ff6a28;
  color: white;
  padding: 15px;
  text-align: center;
}
footer p {
  max-width: 500px;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
}
footer a {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
