@import "./variables";

@mixin reset {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open-Sans, Arial, Helvetica, sans-serif;
}

@mixin bg-image($image) {
    background-image: url("../image/#{$image}");
    background-size: cover;
    background-position: center;

}

@mixin content-main{
    max-width: 990px;
    margin: auto;
    padding: 40px;
    margin-top: 100px;
}

