@use "variables";
@use "mixins";

* {
    @include mixins.reset;
}

@font-face {
    font-family: Open-Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

.barra-de-topo {
    background-color: variables.$prymary-color;
    padding: 15px;
    text-align: center;

    input[type="submit"] {
        padding: 10px;
        border-radius: 0px 10px 10px 0px;

        background-color: variables.$tertiary-color;
        border: none;
        font-weight: bold;
        text-shadow: 1px 1px 1px variables.$prymary-color;
        margin-left: -3px;
        box-shadow: 2px 2px 2px variables.$secondary-color;
        cursor: pointer;
        &:hover{
            color: variables.$prymary-color;
            text-shadow: 1px 1px 1px variables.$secondary-color;
            
        }
      
    }
    input[type="text"]{
        padding: 10px;
        border-radius: 10px 0px 0px 10px;
        border: none;
        width: 370px;
        box-shadow: 2px 2px 5px variables.$secondary-color;
        outline: none;

    }

    img {
        width: 250px;
        border-radius: 2px;
    }

}

#cabecalho{
@include mixins.header;
}